<div class="clearfix">
  <%= f.field_container :name do %>
    <%= f.label :name %> <span class="required">*</span><br />
    <%= f.text_field :name, :class => 'fullwidth title' %>
    <%= f.error_message_on :name %>
  <% end %>

  <%= f.field_container :destination_url do %>
    <%= f.label :destination_url %> <span class="required">*</span><br />
    <%= f.text_field :destination_url, :class => 'fullwidth title' %>
    <%= f.error_message_on :destination_url %>
  <% end %>

  <%= f.field_container :sort do %>
    <%= f.label :sort %><br />
    <%= f.number_field :sort, :class => 'title' %>
    <%= f.error_message_on :sort %>
  <% end %>

  <%= f.field_container :placement do %>
    <%= f.label :placement %><br />
    <%= f.select :placement, [['Homepage Top', 'homepage_top'], ['Homepage Bottom', 'homepage_bottom']], :class => 'title', selected: (@affiliate_link.placement || params[:placement]), include_blank: 'Choose one...' %>
    <%= f.error_message_on :placement %>
  <% end %>

  <%= f.fields_for :image_attributes, @affiliate_link.image || @affiliate_link.build_image do |image| %>
    <%= f.field_container :image do %>
      <%= image.label :attachment, 'Image' %><span class="required">*</span><br />
      <%= image.file_field :attachment %>
      <%= f.error_message_on :image %>
    <% end %>
    <% if @affiliate_link.image.attachment.present? %>
      <%= image_tag @affiliate_link.image.attachment.url(:small) %>
    <% end %>
  <% end %>
</div>
