<% content_for :page_actions do %>  
  <li>
    <%= button_link_to t("affiliate_link.new_link"), new_object_url, :icon => 'icon-plus' %>
  </li>
<% end %>

<% content_for :page_title do %>
  <%= t("affiliate_link.index_page") %>
<% end %>

<table class="index">
  <colgroup>
    <col style="width: 40%" />
    <col style="width: 30%" />
    <col style="width: 10%" />
    <col style="width: 10%" />
    <col style="width: 10%" />
  </colgroup>
  <tr>
    <th><%= t("affiliate_link.name") %></th>
    <th><%= t("affiliate_link.destination_url") %></th>
    <th><%= t("affiliate_link.image") %></th>
    <th><%= t("affiliate_link.sort") %></th>
    <th><%= t("action") %></th>
  </tr>
  <tbody>
    <% @affiliate_links.each do |affiliate_link| %>
    <tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id affiliate_link %>">
      <td>
        <%= affiliate_link.name %>
      </td>
      <td>
        <%= link_to affiliate_link.destination_url, affiliate_link.destination_url %>
      </td>
      <td>
        <%= image_tag affiliate_link.image.attachment.url(:small) %>
      </td>
      <td>
        <%= affiliate_link.sort %>
      </td>
      <td>
        <%= link_to_edit affiliate_link %><br />
        <%= link_to_delete affiliate_link %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
