<% content_for :page_actions do %>  
  <li>
    <%= button_link_to t("affiliate_link.new_link"), new_object_url(placement: params[:placement]), :icon => 'icon-plus' %>
  </li>
<% end %>

<% content_for :page_title do %>
  <%= t("affiliate_link.index_page") %>
<% end %>

<p>Please click on a placement to manage links for that section:</p>
<% ['homepage_top', 'homepage_bottom'].each do |placement| %>
  <%= link_to placement.titleize, "?placement=#{placement}",
  class: :button,
  style: (params[:placement] == placement) ? "background: #9fc820" : '' %>
<% end %>

<% if @affiliate_links.present? %>
<table class="index">
  <colgroup>
    <col style="width: 40%" />
    <col style="width: 30%" />
    <col style="width: 10%" />
    <col style="width: 10%" />
    <col style="width: 10%" />
  </colgroup>
  <tr>
    <th><%= t("affiliate_link.name") %></th>
    <th><%= t("affiliate_link.destination_url") %></th>
    <th><%= t("affiliate_link.image") %></th>
    <th><%= t("affiliate_link.sort") %></th>
    <th><%= t("action") %></th>
  </tr>
  <tbody>
    <% @affiliate_links.each do |affiliate_link| %>
    <tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id affiliate_link %>">
      <td>
        <%= affiliate_link.name %>
      </td>
      <td>
        <%= link_to affiliate_link.destination_url, affiliate_link.destination_url %>
      </td>
      <td>
        <%= image_tag affiliate_link.image.attachment.url(:small) %>
      </td>
      <td>
        <%= affiliate_link.sort %>
      </td>
      <td>
        <%= link_to_edit affiliate_link %><br />
        <%= link_to_delete affiliate_link %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <% if params[:placement].present? %>
    <br />
    <br />
    <p>No items found. Please <%= link_to "create a new link", new_object_url(placement: params[:placement]) %>.</p>
  <% end %>
<% end %>
